{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New PG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/logohead.png' %}" type="image/icon type">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function()
        {
          var $select1=$('#select1'),
              $select2=$('#select2'),
              $options=$select2.find('option');
              $select1.on('change',function()
              {
                $select2.html($options.filter('[value"'+this.value+'"]'));
              }).trigger('change');
        });
    </script>
</head>

<body>

  <header class="bg-info fixed-top">
        <div class="row text-white">
             <div class="col-md-12 my-auto">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link text-white" href="/"><h1>BookMyPG</h1></a>
                      </div>
                      <div class="navbar-nav ml-auto pr-5">
                        <a class="nav-item nav-link active text-white" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link text-white" href="forpgowners">For PG Owners</a>
                        <a class="nav-item nav-link text-white" href="#contact-section">Contact</a>
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link text-white text-center" href="logout">Hey,{{user.first_name}} Logout</a>
                        {% else %}
                        <a class="nav-item nav-link text-white" href="login">Login</a>
                        <a class="nav-item nav-link text-white" href="register">Register</a>
                        {% endif %}
                      </div>
                    </div>
                  </nav>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-white bg-white">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="btn btn-info text-light" href="addnewpg" role="button">Add New PG</a>
              </li>
              <li class="nav-item pl-2">
                <a class="btn btn-info text-light" href="yourpglist" role="button">Your PG List</a>
              </li>
              <li class="nav-item pl-2">
                <a class="btn btn-info text-light" href="/unallocatedbooking" role="button">Booking Requests</a>
              </li>
              <li class="nav-item pl-2">
                <a class="btn btn-info text-light" href="/allocatedbooking" role="button">Confirmed Bookings</a>
              </li>
              <li class="nav-item pl-2">
                <a class="btn btn-info text-light" href="/refundrequest" role="button">Cancel/Refund Requests</a>
              </li>
              <li class="nav-item pl-2">
                <a class="btn btn-info text-light" href="/cancelledbookings" role="button">Cancelled Bookings</a>
              </li>
               <!-- 
               <li class="nav-item pl-2">
              <li class="nav-item pl-2">
                <a class="btn btn-info text-light" href="#" role="button">Reports</a>
              </li>
            -->
            </ul>
          </div>
        </nav>
    
    </header>

    <section style="padding-top: 7em;">
        <div class="container">
            <div class="row">
                <div class="col-mod-12 mx-auto pr-5">
                    <h2 class="text-center pt-3 mt-3 pb-3">Enter New PG Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-mod-12 align-items-center mx-auto">
                    <form action="addnewpg" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="form-group row">
                          <label for="pgname" class="col-sm-3 col-form-label pl-0">PG Name</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="pgname" id="pgname" placeholder="Enter PG Name">
                          </div>
                        </div>

                        <fieldset class="form-group">
                          <div class="row">
                            <legend class="col-form-label col-sm-3 pl-0 pt-0">PG Type</legend>
                            <div class="col-sm-9">
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pgtype" id="mens" value="mens">
                                <label class="form-check-label" for="mens">Men's</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pgtype" id="womens" value="womens">
                                <label class="form-check-label" for="womens">Women's</label>
                              </div>
                            </div>
                          </div>
                        </fieldset>

                        <div class="form-group row form-inline">
                            <label for="img" class="col-sm-3 col-form-label pt-0 pl-0">Upload Image</label>
                            <div class="col-sm-9">
                            <input type="file" class="form-control-file" name="img" id="img">
                            </div>
                        </div>

                        <div class="form-group row">
                          <label for="img" class="col-sm-3 col-form-label pt-0 pl-0">State & City</label>
                          <div class="col-sm-9">
                          <select name="statename" id="select1" class="col-sm-5.5 pl-2" style="width: 9em;">
                            <option selected disabled="true">Select State</option>
                            {% for state in States %}
                            <option value="{{state.id}}">{{state.statename}}</option>
                            {% endfor %}
                          </select>
                          <select name="cityname" id="select2" class="col-sm-5.5 pl-2" style="width: 9em;">
                            <option selected disabled="true">Select City</option>
                            {% for city in Cities %}
                            <option value="{{city.id}}">{{city.cityname}}</option>
                            {% endfor %}
                          </select>
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="pgaddress" class="col-sm-3 col-form-label pl-0">Address</label>
                            <div class="col-sm-9">
                            <textarea class="form-control" name="pgaddress" id="pgaddress" rows="4" placeholder="Enter PG Address.."></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                          <label for="price" class="col-sm-3 col-form-label pl-0">Price/person</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="price" id="price" placeholder="Price per person">
                          </div>
                        </div>                        

                        <div class="form-group row">
                          <label for="bedno" class="col-sm-3 col-form-label pl-0">No. of Shares</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="bedno" id="bedno" placeholder="Enter no. of beds">
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="descriptions" class="col-sm-3 col-form-label pl-0">Descriptions</label>
                            <div class="col-sm-9">
                            <textarea class="form-control" name="descriptions" id="descriptions" rows="4" placeholder="List your Amenities.."></textarea>
                            </div>
                        </div>
                        
                        <form action="/addnewpg" method="POST">
                          {% csrf_token %}
                          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="{{data_key}}"
                          data-description="Payment"
                          data-amount="{{stripe_total}}"
                          data-currency="inr"
                          data-locale="auto">
                      </script>
                      </form>
                      <p><small>*submit and pay Rs.1000</small></p>
                      </form>

                    <div>
                        {% for message in messages %}
                        <script>
                            window.onload = function(){
                                alert('{{message}}')
                            }
                        </script>
                        {% endfor %}
                    </div>

                   
                </div>
            </div>
        </div>
    </section>
    <section class="p-5" id="contact-section">
      <div class="container">
          <h1 class="text-center">Contact Us</h1>
          <div class="row align-items-center">  
            <div class="col-md-6">
              <h5>BookMyPG</h5>  
              <h5>Email: connect.bookmypg@gmail.com</h5>  
              <h5>Phone: 9446968817</h5> 
              <h5>Near NSS Karayogam Hall,</h5> 
              <h5>Eroor South P.O.,</h5>
              <h5>Tripunithura</h5>
              <h5>Pin: 682306</h5>
            </div>
              
          </div>
        </div>
    </section>
    

    <footer class="bg-info">
        <div class="container">
            <div class="row text-white">
                <div class="col-md-12">
                    <p>All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</html>