{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/logohead.png' %}" type="image/icon type">
</head>
<body>
  <header class="bg-info fixed-top">
    <div class="row text-white">
         <div class="col-md-12 my-auto">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link text-white" href="/"><h1>BookMyPG</h1></a>
                  </div>
                  <div class="navbar-nav ml-auto pr-5">
                    <a class="nav-item nav-link active text-white" href="/">Home <span class="sr-only">(current)</span></a>
                    {% if user.is_authenticated %}
                      <a class="nav-item nav-link text-white" href="forpgowners">For PG Owners</a>
                      {% else %}
                      <a class="nav-item nav-link text-white" href="login">For PG Owners</a>
                      {% endif %}
                      <a class="nav-item nav-link text-white" href="#about-section">About</a>
                      <a class="nav-item nav-link text-white" href="#contact-section">Contact</a>
                      {% if user.is_authenticated %}
                      <a class="nav-item nav-link text-white" href="logout">Hey,{{user.first_name}} Logout</a>
                      {% else %}
                      <a class="nav-item nav-link text-white" href="login">Login</a>
                      <a class="nav-item nav-link text-white" href="register">Register</a>
                    {% endif %}
                  </div>
                </div>
              </nav>
        </div>
    </div>
</header>

<section style="padding-top: 8em;">
    <div class="list-group">
      <div class="row mx-auto"><h2>My Bookings</h2></div>
        {% for bookobj in bookobjs %}
        <span class="border-bottom">
         <div class="row pl-3 pt-2"> 
            <div class="col-md-6">
                <h3 class="mb-1">{{bookobj.roomid.pgname}}</h3>
                <p class="text-secondary mb-1"><b>{{bookobj.roomid.statename}} , {{bookobj.roomid.cityname}}</b></p>
                <p class="mb-1"><b>Address: </b>{{bookobj.roomid.pgaddress}}</p>
                <p class="mb-1"><b>PG Owner: </b> {{bookobj.roomid.userid.first_name}}</p>
                <p class="mb-1"><b>Phone: </b>{{bookobj.roomid.userid.extendeduser.mobile}}</p>
                <p class="mb-1"><b>BookingID: </b> {{bookobj.id}}</p>
            </div>
            <div class="col-md-3 pl-0">
                <small><b>Updates</b></small><br>
                <small>*paid and booked</small><br>
                {% if bookobj.cancelstatus %}
                <small>*booking cancelled & refund processing</small>
                {% endif %}
                {% if bookobj.refundstatus %}
                <small class="text-success"><br>*refund completed</small>
                {% endif %}
                {% if bookobj.bookingstatus %}
                <small>*booking confirmed and bed allocated<br>(cancellation and hence refund will not be done once bed is allocated)</small>
                {% endif %}
                {% if bookobj.forcecancel %}
                <small class="text-danger"><br>*booking terminated without refund</small>
                {% endif %}
            </div>
            <div class="col-md-3 pl-5">
              {% if bookobj.cancelstatus %}
              <p class="btn btn-secondary mr-2 mt-3" style="height: 40px;">Cancelled</p>
              {% elif bookobj.bookingstatus %}
              {% else %}
                <a class="btn btn-danger mr-2 mt-3" style="height: 40px;" href="/cancelbooking/?cancel={{bookobj.id}}&pg={{bookobj.roomid_id}}&user={{bookobj.userid.id}}">Cancel</a>
              {% endif %}
            </div>
            <div class="col-md-12" style="margin-bottom: 2rem "></div>
         </div>
        {% endfor %}
        </span>
    </div> 
</section>    
    

    
    <div>
      {% for message in messages %}
      <script>
          window.onload = function(){
              alert('{{message}}')
          }
      </script>
      {% endfor %}
    </div>
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>